vendor/
composer.lock
.php-cs-fixer.cache
.phpunit.result.cache
.idea/
.vscode/
*.swp
*.bak
*~
.buildpath
.project
.settings/
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
configuration.php
*log.php
/attachments/
/downloads/
/templates_c/
/modules/gateways/callback/alliancepay.php.log
*.log
logs/
tmp/
.cache/